* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
nav.styles-btns{
    display: flex;
    justify-content: flex-end;
}

header.site-header {    
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    
    /* align-self: center; */
}
.site-header > .page-title {
    font-style: "Trebuchet";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: flex-start;
    /* border: 2px solid orange; */
    /* font-style: "italic"; */
    /* flex-basis: 50%; */
}
.site-header > .page-title > h1 {
    font-style: "Trebuchet" !important;
    font-style: "Helvetica";
}
.page-title > img{max-height: 100px;}

.page-wrapper>footer {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    align-items: center;
    padding: 0 2.5%;
}

.main-links>#homelink {
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    padding: 1% 5%;
    text-decoration: none;
    font-size: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.page-wrapper>footer>.page-logo>img {
    max-height: 100px !important;
    align-self: center;
    max-height: 100px;
}

