* {
    margin: 0;
    padding:0;
}
main {
    margin: 0 5%;
    padding-top: 2.5%;
}

.resource-container {
    display: flex;
    flex-direction: column;
    margin: 0 5%;
    padding-top: 1%;
}

.tutorials-container {
    padding-top: 1.5%;
    padding-left: 2.5%;
    display: flex
}
.tutorials-container > .tutorial{
    flex-basis: 33%;
    border: 1px solid black;
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
    padding: 2%;
    padding-top: 1%;
    padding-left: 3%;
}
.tutorial >h3{
    font-size: 1rem;
    flex-basis: 15%;
}
.tutorial > img {
    width: 100%;
}
a:focus,a:active{
    box-shadow: 0 0 10px 6px lightseagreen;
}
#homelink:focus,#homelink:active{
    box-shadow: 0 0 10px 6px rgb(116, 183, 180, 1);   
}
.hide {
    display: none;
}

@media screen and (max-width: 700px){
    header {
        padding: 10%;
    }
    header > h1 {
        font-size: 99%;
    }
    .tutorial > h3{
        font-size: 90% ;
    }
}