:root{
    --bg-primary-db: #201d1d ;
    --font-primary-db: whitesmoke;
}
.dark-mode {
    background-color: var(--bg-primary-db); 
    color: var(--font-primary-db)
}
.dark-mode .section-container>.section {
    color: var(--font-primary-db);
}
.dark-mode nav#nav-section-lesson-titles{
    background-color: var(--bg-primary-db)

}
.dark-mode a {
    color: white;
}
.dark-mode,h4
.dark-mode p {
    color: whitesmoke;
}
.dark-mode #nav-section-lesson-titles{
    border-top: 1px solid whitesmoke; 
    border-bottom: 1px solid whitesmoke ; 

}
.dark-mode main > aside{
    border-right: 1px solid whitesmoke ; 
}
.dark-mode .code-container > .copy-code{
    /* border: 1px solid white; */
}
