* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1%;
    border-bottom: 1px solid black;
    align-items: center;
}
.main-links{
    margin-left: 2%;
    flex-basis: 15%;
    display: flex;
    flex-direction: column;
}
#homelink,
#backlink {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 1px solid black;
    display: inline-block;
    padding: 4% 5%;
    margin: 2% 0;
    height: 50%;
    padding-right: 10%;
    padding-right: 25%;
    white-space: nowrap;
    text-wrap: nowrap;
    width: 100%;
    border-radius: 5px;
    text-decoration: none;
}
#homelink:active,#homelink:focus,
#backlink:active,#backlink:focus{
    box-shadow: 0 0 5px 5px orange;
}
header>.page-logo {
    max-height: 100px;
    flex-basis: 20%;
}
body>header>.page-logo img {

    max-height: 100px !important;
    align-self: center;
    max-height: 124px;
}
.title-container > h1 {
    font-size: 90%;
}
.title-container > h2 {
    font-size: 90%;
}
.title-container > #title-txt {
    font-size: 89%;
}
@media screen and (max-width: 683px) {
    body>header>* {
        flex-basis: 30%;
    }
    .page-title {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        /* border: 1px solid blue; */
    }
    .page-logo > img{
        width: 80%;
    }
    .page-title > h1 {
        font-size: 90%;
    }
}
}

body>header{
        display: flex;
            justify-content: space-between;
            border-bottom: 1px solid black;
            align-items: center;
            padding: 0 2.5%;
}
.page-title > h1 {
    font: 50%;
}
.page-title {
    flex-basis: 50%;
}
.page-title > img{
    /* border: 1px solid black;
    flex-basis: 50%; */
    max-height: 100px;
}
body>header>.page-logo>img {
    /* flex-basis: 5%; */
    /* max-width: 200px; */
    max-height: 100px !important;
    align-self: center;
    max-height: 100px;
}
body>header>.img-container>img {
    /* flex-basis: 5%; */
    /* max-width: 200px; */
    max-height: 100px !important;
    align-self: center;
    max-height: 124px;
}
#homelink {
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    padding: 1% 5%;
    text-decoration: none;
    font-size: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
@media screen and (max-width: 683px) {
    body>header>* {
        flex-basis: 30%;
    }
    .page-title {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        /* border: 1px solid blue; */
    }
    .page-logo > img{
        width: 80%;
    }
    .page-title > h1 {
        font-size: 90%;
    }
}
@media screen and (max-width: 683px) {
    body>header>* {
        flex-basis: 30%;
    }

    .page-title {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        /* border: 1px solid blue; */
    }

    .page-logo>img {
        width: 80%;
    }

    .page-title>h1 {
        font-size: 90%;
    }
}
}

body>header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    align-items: center;
    padding: 0 2.5%;
}

.page-title>h1 {
    font: 50%;
}

.page-title {
    flex-basis: 50%;
}

.page-title>img {
    /* border: 1px solid black;
    flex-basis: 50%; */
    max-height: 100px;
}

body>header>.page-logo>img {
    /* flex-basis: 5%; */
    /* max-width: 200px; */
    max-height: 100px !important;
    align-self: center;
    max-height: 100px;
}

body>header>.img-container>img {
    /* flex-basis: 5%; */
    /* max-width: 200px; */
    max-height: 100px !important;
    align-self: center;
    max-height: 124px;
}

#homelink {
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    padding: 1% 5%;
    text-decoration: none;
    font-size: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media screen and (max-width: 683px) {
    body>header>* {
        flex-basis: 30%;
    }

    .page-title {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        /* border: 1px solid blue; */
    }

    .page-logo>img {
        width: 80%;
    }

    .page-title>h1 {
        font-size: 90%;
    }
}