.b {color: blue;}
.r {color: red}
.m {color: magenta}
.gr {color: goldenrod}
.lsg {color: lightseagreen}
.g {color: green}
.o {color: orange}

.smtxt {font-size: 50% !important;}
.smmdtxt {font-size: 60% !important;}
.mdtxt {font-size: 75% !important;}
.xmdtxt {font-size: 85% !important;}
.txt {font-size: 1rem;}
.lgtxt {font-size: 125% !important;}